.button {
  height: 50px;
  margin-top: 15px;
  font-size: 20px;
  background-color: plum;
  border-radius: 5px;
}

.block {
  height: 40px;
  margin: 5px auto 0;
  display: none;
}

.block1 {
  width: 50px;
  border-radius: 25px;
}

.block2 {
  width: 70px;
  border-radius: 20px;
}

.block3 {
  width: 85px;
  border-radius: 18px;
}

#stackB1up {
    position: absolute;
    top: 15px;
    left: 143px;
}
#stackB2up {
    position: absolute;
    top: 15px;
    left: 133px;
}
#stackB3up {
    position: absolute;
    top: 15px;
    left: 125px;
}