main {
  display: flex;
  width: 24em;
  height: 25em;
  margin: 20px auto;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.intro {
  text-align: center;
  &__title {
  text-align: center;
  font-size: 40px;
  padding: 20px 20px;
  }
  &__rules {
    width: 90%;
    margin: auto;
  }
}

.stack {
  width: 110px;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid purple;

  .background {
    height: 140px;
  }
}

.scores {
  margin-left: 10px;
}

