@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&family=Rubik:wght@500&display=swap');
@import "./variables";
// font-family: 'Rubik', sans-serif;
// font-family: 'Rubik Puddles', cursive;

.intro {
  &__title {
  font-family: 'Rubik Puddles', cursive;
  color: $primarycolor;
  }
}

.scores {
  width: 350px;
  margin: auto;
}

.scores__win {
  font-size: 18px;
  text-align: center;
  margin: auto;
  color: $primarycolor;
}

* {
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: $backgroundcolor;
}