* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  height: 30px;
}

main {
  display: flex;
  width: 300px;
  height: 250px;
  margin: 150px auto;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-end;
  border: 1px solid black;
}

.stack {
  width: 90px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stack .background {
  height: 140px;
}

.background {
  background-image: url(./tower.png);
}